// colors:
$turq: #1abc9c;
$cloud: #ecf0f1;

// fonts: 
$pacifico: 'Pacifico', cursive;

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: $turq;
}

.buttons {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  text-align: center;
  
  .button {
    width: 20%;
    background: transparent;
    border: none;
    outline: none;
    visibility: visible;
    
    h1 {
      position: absolute;
      padding: 0px;
      line-height: 4.5vw;
      top: 0%;
      font: {
        family: $pacifico;
        size: 4vw;
      };
      transition: .5s;
      
      &:hover {
        border-bottom: solid .2vw $cloud;
      }
    }
    
    i {
      overflow: hidden;
      opacity: .0;
      color: $cloud;
      position: absolute;
      font-size: 6vw;
      
      &.fa-home {
        left: 12%;
        top: -500%;
      }
      
      &.fa-info-circle {
        left: 33.8%;
        top: -500%;
      }
      
      &.fa-folder-open-o {
        left: 51%;
        top: -500%;
      }
      
      &.fa-paper-plane-o {
        left: 76.2%;
        top: -500%;
      }
      
    }
    
    &.button-active {
      color: $turq;
    }
  }
}

